

body {
    background-color: #F7F6F2;
    margin: 0;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
}

h1 {
    margin:50px auto 0 auto;
    font-size: 5.625rem;
    color: #4B6587;

}

h2 {
    font-size: 2.812rem;
}

p {
    margin: 0;
    font-size: 25px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #c4c4c4;
    border-width: 5px;
    width: 5%;
}



.intro {
    color: #C8C6C6;
} 

.buffer {
    background-color: #4B6587;
    height:100px;
}

.cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;;
}

.subheading {
    color: white;
    font-size: 2.5rem;
    word-spacing: .8rem;
    font-weight: normal;
}

.split {
    color: orange;
    margin-left: .625rem;
    margin-right: .625rem;
    font-size: 2.5rem;
    font-weight: normal;
}


.topContainer {
    background-color: #4B6587;
    position: relative;
    padding-top: 100px;
    line-height: 2;
    width: 100%;
    height: 100%;
    /* border: none; */
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;

}

.middle-container {
    line-height: 2;
    margin-top: 100px;
}

.skill-row {
    width: 65%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skillheading {
    color: #4B6587;
}

.bottom-container {
    background-color: #4B6587;
    line-height: 2;
    /* margin-top: 50px; */
    height: 100px;
}

.keywords {
    color: #4B6587;
    font-weight: bold;
}

.skill-img {
    box-shadow: 0px 0px 10px 5px grey;
    width: 25%;
    float: left;
    margin-right: 30px;
}

/* .codeskilldescr {
    clear: left;
} */

.skill2-img {
    box-shadow: 0px 0px 10px 5px grey;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contactme {
    color: #4B6587;
}

.footer-link {
    font-size: 20px;
    color: navy;
}

.btn {
    background: #4B6587;
    background-image: -webkit-linear-gradient(top, #4B6587, #1E62D0);
    background-image: -moz-linear-gradient(top, #4B6587, #1E62D0);
    background-image: -ms-linear-gradient(top, #4B6587, #1E62D0);
    background-image: -o-linear-gradient(top, #4B6587, #1E62D0);
    background-image: -webkit-gradient(to bottom, #4B6587, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    /* font-size: 40px; */
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #C4C4C4;
    -moz-box-shadow: 1px 1px 20px 0 #C4C4C4;
    box-shadow: 1px 1px 20px 0 #C4C4C4;
    text-shadow: 1px 1px 20px #000000;
    border: solid #4B6587 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .copyright {
     font-size: 15px;
     color: #C8C6C6;
 }
 
 a:hover {
     color: #EAF6F6;
 }

/* hr {
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    width: 5%;
}

h1, h3 {
    color: #5E454B;
}

em {
    color: #5F7A61; */
/* } */
